.wysiwyg-color-black {
  color: black;
}

.wysiwyg-color-silver {
  color: silver;
}

.wysiwyg-color-gray {
  color: gray;
}

.wysiwyg-color-white {
  color: white;
}

.wysiwyg-color-maroon {
  color: maroon;
}

.wysiwyg-color-red {
  color: red;
}

.wysiwyg-color-purple {
  color: purple;
}

.wysiwyg-color-fuchsia {
  color: fuchsia;
}

.wysiwyg-color-green {
  color: green;
}

.wysiwyg-color-lime {
  color: lime;
}

.wysiwyg-color-olive {
  color: olive;
}

.wysiwyg-color-yellow {
  color: yellow;
}

.wysiwyg-color-navy {
  color: navy;
}

.wysiwyg-color-blue {
  color: blue;
}

.wysiwyg-color-teal {
  color: teal;
}

.wysiwyg-color-aqua {
  color: aqua;
}

.wysiwyg-float-left {
  float: left;
  margin: 0 8px 8px 0;
}

.wysiwyg-float-right {
  float: right;
  margin: 0 0 8px 8px;
}

form.bootsy .field_with_errors { 
  display: inline-block; 
}

blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #eeeeee;
}

blockquote p {
  margin-bottom: 0;
  /*font-size: 16px;
  font-weight: 300;
  line-height: 25px;*/
}

blockquote small {
  display: block;
  line-height: 20px;
  color: #999999;
}

blockquote small:before {
  content: '\2014 \00A0';
}

blockquote.pull-right {
  float: right;
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
}

blockquote.pull-right p,
blockquote.pull-right small {
  text-align: right;
}

blockquote.pull-right small:before {
  content: '';
}

blockquote.pull-right small:after {
  content: '\00A0 \2014';
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}

textarea.bootsy:required:invalid {
  color: inherit;
}

/*Allow dropdown menus to show be displayed if they overflow the footer or modal*/
#bootsy_image_gallery .modal { overflow: visible; }
#bootsy_image_gallery .modal-body { overflow-y: visible; }

/*Modal Design Styles*/
#bootsy_image_gallery form { margin-bottom: 0px; } /*remove default bottom margin*/
#bootsy_image_gallery .file-input-name {display: none;}  /*Hide the input file name from showing as it's not needed and ruins design*/
/*Set a min-height on the modal body to prevent jumping up and down of modal when adding content*/
#bootsy_image_gallery .modal-body {
  min-height: 78px;
  margin-bottom: 0;
  padding-bottom: 7px;
}
#bootsy_image_gallery .modal-body .thumbnails {
  margin-left: -10px;
  margin-bottom: 0;
}
#bootsy_image_gallery .modal-body .thumbnails > li {
  margin-left: 7px;
  margin-bottom: 8px;
}

#bootsy_image_gallery .modal-body .thumbnails > li.alert {
  width: 100%;
  margin-right: 8px;
}
.bootsy-spinner {
  display: inline-block;
  padding-right: 5px;
}
.bootsy-spinner img {
  display: none;
}

/*The below code is needed for capybara to be able to find the input, as it*/
/*does not work*/
.file-input-wrapper input[type=file], .file-input-wrapper input[type=file]:focus, .file-input-wrapper input[type=file]:hover {
  opacity: .01;
}

.wysihtml5-display {
    display: none;
    text-decoration: none;
}

.wysihtml5-display.wysihtml5-command-active {
    display: inline;
}